<% include  partials/header.ejs %>
<div class="container">
<header class="jumbotron">
    
    <h1  class="text-center font-weight-bold">This is home page</h1>

</header>
<p>
    <a class="btn btn-primary btn-large text-center container" href="/user">view all campgrounds</a>
</p>
</div>
<% include partials/footer.ejs %>